<!-- This is the page that contains three main areas - 1) Bible text 2) notes area and 3) explorer area -->

<router-outlet></router-outlet>

<div class="container">
  <mat-grid-list rowHeight="16:9" [cols]="2">
    <mat-grid-tile style="background-color:blue" [rowspan]=2>
      Bible Verses
    </mat-grid-tile>
    <mat-grid-tile style="background-color:red">
      Notes area
    </mat-grid-tile>
    <mat-grid-tile style="background-color:yellow">
      Explorer area
    </mat-grid-tile>
  </mat-grid-list>
</div>